# building dependencies
node_modules/
bower_components/

# Static templates
www-test/
www-dist/
www-app/

# Other
.DS_Store
.project
www-src/assets/scripts/dist/
www-src/assets/icons/sprite/sprite-demo.html
