{#
// Typical page
// There should be no html code here, only the declaration of the page,
// i.e. which modules are inside and where, and possibly, variables used inside the layout or modules of the page
#}

{% set pagetitle = "Sample page" %}
{% extends "../layout/_sample.njk" %}
{% import "../nunjucks/macros.njk" as macros %}

{% block zone_main %}
  {% include "www-src/modules/sample/_sample.njk" %}
  {% include "www-src/modules/sample/_sample__slider.njk" %}
  {% include "www-src/modules/sample/_sample__player.njk" %}
{% endblock %}
