<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="{{metadata.charset}}">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>
  <body>

    {% block zone_head %}
      {% include "../modules/header/header.html" %}
    {% endblock %}

    {% block zone_main %}
      <p>This will be replaced by the layout content</p>
    {% endblock %}

    {% block zone_footer %}
      {% include "../modules/footer/footer.html" %}
    {% endblock %}

    <script type="text/javascript" src="../assets/scripts/bundle.js"></script>
  </body>
</html>
