// BASIC STYLES
// This should contain the basic styles for the theme
// It should include most of your styles for simple element selectors
// Class selectors styled here should be very common and shared in lots of pages and modules (typically buttons)

// --- TO USE ON ALL PROJECTS IF POSSIBLE

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: '', sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
}

// base links
a {
  color: inherit;
}
a[class] {
  color: inherit;
}

// responsive images basics
img {
  max-width: 100%;
  height: auto;
}
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  fill: inherit;
}

// --- THIS PROJECT'S BASE
