// Useful mixins and classes used often in the html to solve recurring problems
// It should not be specific to the projects
// It uses sass placeholder in certain cases:
// - when the repetition of a rule for a given style is bigger than the repetition of the selector
// - when no presentation class (oocss) exist or will be used to prevent html clutter
// /!\ use placeholders wisely, i.e. not too many times or your css, instead of your html, could become cluttered

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
%clearfix {
  @include clearfix();
}
.clearfix,
.cf,
.grid {
  @extend %clearfix;
}

// Clears floating elements
%clear {
  clear: both;
}
.clear {
  @extend %clear;
}

// Completely hidden
.hidden {
  display: none;
}

// Visually hidden yet read by screen readers
/*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
.visually-hidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  body:hover & a,
  body:hover & input,
  body:hover & button {
    display: none !important
  }
}
