// Settings contain the configuration of the project, including variables dealing with breakpoints, colors, or font
// It should not directly compile any css
// Variables' names follow this simple guideline:
// - $w- as a prefix for a width (possible use for media queries)
// - $c- for colors
// - $f- for font stacks

// Breakpoints
$w-mobile: 500px;
$w-tablet: 768px;
$w-desktop: 980px;
// Max width of the site
$w-max: 1150px;

// All the variants of grey that will be used for borders, backgrounds and rarely fonts
$c-grey: #f0f0f0;
$c-grey_dark: #adadad;
// Blue, white and red are the main colors of the site
$c-white: #fff;
$c-red: #df1134;
$c-blue: #0080ff;
$c-blue_dark: #094790;
 // Most texts will be either of those
$c-text_black: #222222;
$c-text_grey: #444444;
$c-text_lightgrey: #adadad;
// icons
$c-rss: #ee7727;
$c-facebook: #4672b3;
$c-linkedin: #3e8cbf;

// Those Mixins are very specific to the project

// vertical spacing on zones in the hp
@mixin spacing_sections_vertical ($padding-v: 60px) {
  padding-top: $padding-v;
  padding-bottom: $padding-v;
}
// links not underlined but when they are hovered
@mixin links_no_deco () {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
